<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- название -->
		<title>{{ block "title" . }}Лёгкая Жизнь{{ end }}</title>
		<link rel="stylesheet" href="/static/styles/base.css" />
		{{ block "extra_css" . }}{{ end }}
	</head>
	<body>
		<!-- хедер -->
		<header class="header">
			<div class="header-container">
				<div class="logo">
					<a href="/services" class="home-link">
						<img
							src="http://localhost:9000/lab1/lung.png"
							alt="Лёгкая Жизнь"
							class="home-icon"
						/>
						<span class="logo-text">Лёгкая Жизнь</span>
					</a>
				</div>
			</div>
		</header>

		<!-- контент страницы -->
		{{ block "content" . }}{{ end }}

		<!-- футер -->
		<footer class="footer">
			<div class="container">
				<p>&copy; 2025 Лёгкая Жизнь. Кудабаева Эвита ИУ5-52Б.</p>
			</div>
		</footer>
	</body>
</html>
